@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');


.color{
    background-color: #F3F6FA;
}

.container{
    width: 100%;
}


html, body {
    height: 100%;
 }

body {
     margin: 0;
     font-family: 'Mochiy Pop One', sans-serif;
    }
