<div class = "font">
<div class="header">
    <div class="row color-2">
    <div class="col-9 font-and-margin">Reviewed</div>    
    <div class="col-3">
<div class="align-center">Welcome Anagha</div>
<div class="align-center">Logout</div>
    </div>        
    </div>
    <div class="row padding">
        <div class="col-3"></div>
<div class="col-9">
    <div class="row  ">
        <div class="col-1"></div>
        <div class="col-3 color">Business Name</div>
        <div class="col-3 color"><input name="filter" type="text"/></div>
    </div>
    <div class="row  ">
        <div class="col-1"></div>
        <div class="col-3 color">Inspection Date</div>
        <div class="col-3 color"><input name="filter" type="text"/></div>
    </div>
    <div class="row  ">
        <div class="col-1"></div>
        <div class="col-3 color">Inspection Score</div>
        <div class="col-3 color"><input name="filter" type="text"/></div>
    </div>
    <div class="row  ">
        <div class="col-1"></div>
        <div class="col-3 color">Inspection Type</div>
        <div class="col-3 color"><input name="filter" type="text"/></div>
    </div>
    <div class="row  ">
        <div class="col-1"></div>
        <div class="col-3 color">Inspection ID</div>
        <div class="col-3 color"><input name="filter" type="text"/></div>
    </div>
</div>

<div class="row padding-2">
    <div class="col-4"></div>
    <div class="col-2 text-align"><button type="button" class="btn-cls">Save</button></div>&nbsp;&nbsp;
    <div class="col-2 text-align"><button type="button" class="btn-cls">Cancel</button></div>
    <div class="col-4"></div>
</div>
</div>